{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    {% block style %}.{% endblock %}>
    <script src="{% static 'bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
    {% if session %}
        {% block content %}
        {% endblock %}
    {% else %}
    <!-- TODO: This login page need to be less basic. CSS for myVideo, h1, LoginBtn -->
    <video autoplay muted loop id="myVideo">
        <source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4">
    </video>
    <h1 id="text-center">All the videos*, all in one place</h1>
    <h2><a href="{% url 'login' %}" id="LoginBtn">Login</a></h2>
    {% endif %}
</div>
</body>
{% block footer %}
{% endblock %}

<!-- 

Block syntax will have an { extends 'base.html' %} at the top of the file.
then you can use the { block var %} tags to replace the content of the base.html file.
{ if %}, { else %}, { endif %}. { for a in A %}, { endfor %}. 

weirdly, will find jinja syntax inside comments too lol, so had to delete the % sign at the start of the comment.

-->