<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Base{% endblock %}</title>
    <script src="../static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    {% block style %}.{% endblock %}
    
</head>
<body>
<div class="container">
    
        {% block content %}
        {% endblock %}

</div>
</body>
{% block footer %}
{% endblock %}

<!-- 

Block syntax will have an { extends 'base.html' %} at the top of the file.
then you can use the { block var %} tags to replace the content of the base.html file.
{ if %}, { else %}, { endif %}. { for a in A %}, { endfor %}. 

weirdly, will find jinja syntax inside comments too lol, so had to delete the % sign at the start of the comment.

-->