{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/home.css">
{% endblock %}

{% block content %}
    <main>
        <div class="side-bar" name="expandable"></div>
        <div class="content" name="expandable">
            <section class="video-section">
                {% for video in videos %}
                <article class="video-card">
                    <a href="{% url 'Videos:watch' video.uuid %}" class="thumbnail" data-duration={{video.duration}}>
                        <img class="thumbnail-image" src={{video.thumbnail}} />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="{% url 'Videos:watch' video.uuid %}" class="video-title">Video Title</a>
                            <a href="#" class="video-channel-name">Channel Name</a>
                            <div class="video-metadata">
                                <span>{{video.views}} views</span>
                                •
                                <span>{{video.created_at}} ago</span>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}

    


