{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/home.css">
{% endblock %}

{% block content %}
    <header>
        <li class="left">
            <i class="material-icons" id="menu">menu</i>
            <img src="https://www.freecodecamp.org/news/content/images/2022/01/yt-logo.png">
            <!-- TODO: change out for "MyTube" Logo -->
        </li>
        <li class="center">
            <form action="">
                <input type="text" placeholder="Search..." />
                <button><i class="material-icons">search</i></button>
                <i class="material-icons">mic</i>
            </form>   
        </li>
        <li class="right">
            <i class="material-icons">videocam</i>
            <i class="material-icons">apps</i>
            <i class="material-icons">notifications</i>
            <i class="material-icons">account_circle</i>
        </li>

        

    </header>
    <main>
        <div class="side-bar"></div>
        <div class="content"></div>
    </main>
{% endblock %}

    


