{% extends 'base.html' %}
{% block title %}{{video.name}}{% endblock %}
{% block content %}
<header class="header">.</header>
<main>
    <div class="side-bar">.</div>
    <div class="content">
        <div class="video-container">
            <video id="video" controls>
                <source src="{{video.file}}" type="video/mp4">
            </video>
        </div>
        <div class="video-info">
            <h1>{{video.name}}</h1>
            <p>{{video.description}}</p>
            <p>{{video.uploaded_at}}</p>
            <p>{{video.views}}</p>
            <p>{{video.likes}}</p>
            <p>{{video.dislikes}}</p>
            <p>{{video.comments}}</p>
            <img src="{{video.thumbnail}}" alt="{{video.name}}">
        </div>
    </div>
</main>
{% endblock %}