*.xlsx
__pycache__
django/test/test/pyvenv.cfg
django/test/test/Lib/*
django/test/test/Scripts/*
secret_key.txt
config.*
*.mp4
*.mp3
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.swf
*.mpg
*.mpeg
*.png
*.jpg
*.jpeg
*.gif
*.bmp

