@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #0f0b0b;
}
body {
    font-family: 'Roboto', sans-serif;
}
header{
    height: 3em;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
li{
    list-style: none;
    display: inline-block;
    align-items: center;
    margin: 0.5em;
}
.left{
    float: left;
    min-width: 8.6em;
}
.right{
    float: right;
    min-width: 10.6em;
}
.center{
    width: 70%;
}
#menu{
    margin-top: .3em;
    display: inline-flex;
    float: left;
}
img{
    display: inline-flex;
    float: right;
}
form {
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    height: 90%;
    align-items: center;
}

input {
    border: 0;
    height: 100%;
    width:  100%;
    margin: 0 2px 0 10px
}
input:focus {
    outline: none;
    border: 1px solid #ddd;
    background-color: #f9f9f9d3;
}
button {
    height: 100%;
    width: 40px;
    border: 1px slategray;
}
i{
    color: rgb(100, 100, 100);
    padding-left: .5em;
    cursor: pointer;
    float: none;
}





main {
    height: calc(100vh - 3em);
    display: flex;
    background-color: #f9f9f9;
}
/* Sidebar */
.side-bar {
    height: 100vh;
    width: 17%;
    background-color: rgb(167, 162, 162);
    overflow-y: hidden;
    transition: .5s all;
}
.content {
    width: 83%;
    height: 100vh;
    overflow-y: auto;
}



@media (max-width: 768px) {
    .side-bar {
        display: none;
    }
    .content {
        width: 100%;
    }
}