@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
header{
    height: 2.3em;
    overflow-y: hidden;
}
li{
    list-style: none;
    display: inline-block;
    height: 2.3em;
    margin: auto;
}
li > *{
    display: auto;
    height: 2.3em;
    margin: auto;
}

.left{
    float: left;
}
.right{
    float: right;
}
.search form {
    border: 1px solid #ddd;
}

.search input {
    width: 400px;
    border: 0;
    height: 100%;
}

input:focus {
    outline: none;
    border: 1px solid #ddd;
}

.search button {
    height: 100%;
    width: 40px;
    border: 1px slategray;
}


i{
    color: rgb(100, 100, 100);
    padding-left: .5em;
    cursor: pointer;
}





main {
    height: calc(100vh - 3em);
    display: flex;
    background-color: #f9f9f9;
}
/* Sidebar */
.side-bar {
    height: 100vh;
    width: 17%;
    background-color: rgb(167, 162, 162);
    overflow-y: hidden;
    transition: .5s all;
}
.content {
    width: 83%;
    height: 100vh;
    overflow-y: auto;
}



@media (max-width: 768px) {
    .side-bar {
        display: none;
    }
    .content {
        width: 100%;
    }
}