@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,
    Arial,
    Helvetica,
    sans-serif;
    /* border: 1px solid #0f0b0b; */
}
header {
    height: 3em;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
li {
    list-style: none;
    display: inline-block;
    align-items: center;
    margin: 0.5em;
}
.left {
    float: left;
    min-width: 8.6em;
}
.right {
    float: right;
    min-width: 10.6em;
}
.center {
    width: 70%;
}
.left #menu {
    margin-top: .3em;
    display: inline-flex;
    float: left;
    border:rgba(100, 100, 100, 0) solid 1px;
}
.left img {
    display: inline-flex;
    float: right;
}
.center form {
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    height: 90%;
    align-items: center;
}
.center input {
    border: 0;
    height: 100%;
    width: 100%;
    margin: 0px 5px 0 10px;
    padding-left: 10px;
}
.center input:focus {
    outline: none;
    border: 1px solid #ddd;
    background-color: #f9f9f9d3;
}
.center button {
    height: 100%;
    width: 40px;
    border: 1px slategray;
}
li i {
    color: rgb(100, 100, 100);
    padding-left: .3em;
    padding-right: .2em;
    cursor: pointer;
    float: none;
}
li i:hover {
    color: rgb(50, 50, 50);
    box-shadow: inset 0 0 25px 0px rgba(100, 100, 100, 0.089);
    border-radius: 100px;
}


/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.youtube-logo {
    height: 20px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
}

.search-input {
    width: 100%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #777;
    background-color: #F8F8F8;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #F0F0F0;
}

.menu-icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 1.5rem;
}

.menu-channel-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
} */